@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?batjma');
  src:  url('fonts/icomoon.eot?batjma#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?batjma') format('truetype'),
    url('fonts/icomoon.woff?batjma') format('woff'),
    url('fonts/icomoon.svg?batjma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
  content: "\e949";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-bubble2:before {
  content: "\e96e";
}

